<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="static/styles/style.css">
    </head>
    <body>
        <div class="container">
            <h1 id="title">Speakr</h1>
            <h2>Play the audio and guess what was said!</h2>
            <form id="guess" autocomplete="off">
                <input type="text" id="prediction" placeholder="Enter Your Guess">
                <button id="sumbit" type="submit">Submit</button>
            </form>
            
            <form style ='display:inline-block;' id="play">
                <button type="submit">Play</button>
            </form>
            <form style ='display:inline-block;' id="next">
                <button type="submit">Next</button>
            </form>
        </div>
        
        
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    
        <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).on('submit','#play',function(e)
                           {
              e.preventDefault();
              $.ajax({
                type:'POST',
                url:'/',
                data:{
                  play:1
                },
                
              })
            });

            $(document).on('submit','#next',function(e)
                           {
              e.preventDefault();
              $.ajax({
                type:'POST',
                url:'/',
                data:{
                  go_next:1
                },
                
              })
            });

            $(document).on('submit','#guess',function(e)
                           {
              e.preventDefault();
              $.ajax({
                type:'POST',
                url:'/',
                data:{
                  guess:$("#prediction").val()
                },
                
              })
            });
            const socket = io();
            socket.on("server", function(msg) {
                alert(msg);
                document.getElementById("prediction").value = ""
            });
          </script>
    </body>
</html>